<h1>Welcome</h1>

<<<<<<< HEAD
<p>We are currently working on your account.</p>
<p>Make a Deposit:</p>
<% %>
<p>Make a Withdrawl:</p>
<% %>
=======
<p>Deposit Money: </p>
<% 

>>>>>>> 8e85c03a0a07dc9d44f70702aec3644a33b95b15
<p><a href="/logout">Log Out</a></p>
